body{
font-family:system-ui;
background:#0f172a;
color:white;
text-align:center;
margin:0;
padding:20px;
}

button{
padding:10px 20px;
border:none;
border-radius:8px;
background:#22c55e;
color:white;
cursor:pointer;
margin:10px;
}

#board{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:10px;
max-width:600px;
margin:auto;
}

.cell{

background:#1e293b;
border-radius:14px;
padding:10px;
aspect-ratio:1/1;

display:flex;
flex-direction:column;
align-items:center;
justify-content:center;

cursor:pointer;
transition:.2s;

}

.cell img{
width:45px;
height:45px;
border-radius:50%;
margin-bottom:6px;
}

.cell span{
font-size:14px;
}

.cell:hover{
transform:scale(1.05);
background:#334155;
}

.marked{
background:#22c55e;
}

.star{
background:gold;
color:black;
font-size:26px;
}

@media(max-width:600px){

#board{
max-width:95vw;
}

.cell img{
width:35px;
height:35px;
}

}